{% extends 'base.html'%}
{% load static%}
{%block title%}

Doctor profiles
{%endblock%}

{%block content%}
<link rel="stylesheet" href="{% static '/stylesheet.css' %}">

<div class="container">
    
<div class="card">
    <img style="height: 100%; width: 100%;" src="{%static 'img/img1.jpg'%}"
    style="width: 75%">
    <h2>Dr. Arica Beiber</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.B.B.S,M.D</h3>
    <p><h4>Experience:12 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * * * </h3></p>
    <p><button>Contact</button></p>
</div>

<div class="card">
    <img style="height: 40%; width: 50%;" src="{%static 'img/img3.jpg'%}"
    style="width: 75%">
    <h2>Dr. Sanjana Batra</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.B.B.S,Gynecologist</h3>
    <p><h4>Experience:15 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * *  </h3></p>
    <p><button>Contact</button></p>
</div>

<div class="card">
    <img style="height: 100%; width: 100%;" src="{%static 'img/img2.jpeg'%}"
    style="width: 75%">
    <h2>Dr. John Walker</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.S,Pediatrician</h3>
    <p><h4>Experience:10 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * * * </h3></p>
    <p><button>Contact</button></p>
</div>

<div class="card">
    <img style="height: 80%; width: 100%;" src="{%static 'img/img4.jpeg'%}"
    style="width: 75%">
    <h2>Dr. Meena Rai</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.D,Plastic surgeon</h3>
    <p><h4>Experience:18 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * * * </h3></p>
    <p><button>Contact</button></p>
</div>

<div class="card">
    <img style="height: 100%; width: 100%;" src="{%static 'img/img5.jpeg'%}"
    style="width: 75%">
    <h2>Dr. Aman Smith</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.D,Plastic surgeon</h3>
    <p><h4>Experience:8 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * *  </h3></p>
    <p><button>Contact</button></p>
</div>

<div class="card">
    <img style="height: 100%; width: 100%;" src="{%static 'img/img11.jpg'%}"
    style="width: 75%">
    <h2>Dr. Greata George</h2>
    <p class="title"><h3> Degree </h3></p>
    <h3> M.B.B.S,Pulmonologists</h3>
    <p><h4>Experience:3 years</h4></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p><h3>Ratings:* * * * * </h3></p>
    <p><button>Contact</button></p>
</div>


</div>
{%endblock%}